<div *ngIf="classroom else notFoundTemplate" nz-row style="padding: 20px;" nzGutter="18">
  <div nz-col nzXs="24" nzXl="6">
    <nz-card [nzTitle]="classroom.title" style="margin-bottom: 10px;">
      <nz-avatar [nzSize]="96" [nzSrc]="classroom?.images?.length > 0 ? classroom.images[0].src : null"
        [nzText]="classroom?.title?.charAt(0)?.toUpperCase()"
        style="margin-bottom: 20px; font-size: 60px; color:#f56a00; background-color:#fde3cf;"></nz-avatar>

      <nz-descriptions [nzColumn]="1" [nzTitle]="classroom.title">
        <nz-descriptions-item nzTitle="Title" [nzSpan]="1">
          <p style="margin-bottom: 0;" nz-paragraph [nzEditable]="!readonly" [nzContent]="classroom.title"
            (nzContentChange)="patchClassroom({title: $event})"></p>
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Description" [nzSpan]="1">
          <p style="margin-bottom: 0;" nz-paragraph [nzEditable]="!readonly" [nzContent]="classroom.description"
            (nzContentChange)="patchClassroom({description: $event})"></p>
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Finished" [nzSpan]="1">
          {{classroom?.finished ? 'True' : 'False'}}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Owner" [nzSpan]="1">
          <p>{{classroom?.owner_id}}</p>
        </nz-descriptions-item>
      </nz-descriptions>

      <div *ngIf="canLeave(credentialsService.currentUser)">
        <nz-divider></nz-divider>
        <button nz-button nz-popconfirm nzPopconfirmTitle="Are you sure?" nzOkText="Exit" nzCancelText="Cancel"
          (nzOnConfirm)="exitClassroom(classroom)" nzType="danger">Exit classroom</button>
      </div>
      <div *ngIf="credentialsService.currentUser && credentialsService.currentUser.id == classroom.owner_id">
        <nz-divider></nz-divider>
        <button nz-button nz-popconfirm nzPopconfirmTitle="Are you sure?" nzOkText="Delete" nzCancelText="Cancel"
          (nzOnConfirm)="deleteClassroom(classroom)" nzType="danger">Delete classroom</button>
      </div>
    </nz-card>
    <nz-card style="margin-bottom: 10px;" nzTitle="Members" [nzExtra]="membersExtraTemplate">
      <ng-template #membersExtraTemplate>
        <button *ngIf="credentialsService.currentUser && credentialsService.currentUser.id == classroom.owner_id"
          (click)="showAddNewMemberModal = true" nz-button>Add new members</button>
      </ng-template>

      <nz-list [nzDataSource]="classroom?.members" [nzRenderItem]="membersItem" [nzItemLayout]="'horizontal'"
        [nzLoading]="!classroom?.members">
        <ng-template #membersItem let-member>
          <nz-list-item style="margin-top: 10px;" [nzActions]="[removeMemberActionTemplate]">
            <ng-template #removeMemberActionTemplate>
              <a *ngIf="credentialsService.currentUser?.id == classroom.owner_id && member.id != classroom.owner_id"
                nz-popconfirm nzPopconfirmTitle="Are you sure?" nzOkText="Remove member" nzCancelText="Cancel"
                (nzOnConfirm)="removeMemberFromClassroom(classroom, member)">Remove</a>
            </ng-template>

            <nz-list-item-meta [nzTitle]="nzTitle" [nzAvatar]="memberAvatarTemplate"
              [nzDescription]="descriptionTemplate">
              <ng-template #memberAvatarTemplate>
                <nz-avatar [nzText]="member?.first_name?.charAt(0)?.toUpperCase()"></nz-avatar>
              </ng-template>

              <ng-template #nzTitle>
                <a [routerLink]="['/', 'users', member.id]">{{ member.first_name }} {{ member.last_name }}
                  <b *ngIf="credentialsService?.currentUser?.id == member.id">(You)</b></a>
              </ng-template>
              <ng-template #descriptionTemplate>
                <span *ngIf="member.id === classroom.owner_id else memberTemplate">Classroom <b>Owner</b></span>
                <ng-template #memberTemplate>
                  Classroom Member
                </ng-template>
              </ng-template>

            </nz-list-item-meta>
          </nz-list-item>
        </ng-template>
      </nz-list>
    </nz-card>
  </div>

  <div nz-col nzXs="24" nzXl="18">
    <nz-card nzTitle="Projects">
      <nz-tabset style="margin-bottom: 10px;" (nzSelectedIndexChange)="onProjectsTabChange($event)" [nzSelectedIndex]="projectsTabIndex">
        <nz-tab nzTitle="My Projects"></nz-tab>
        <nz-tab nzTitle="All Projects"></nz-tab>
      </nz-tabset>
      <app-projects-list [showCreateNewProjectButton]="true" [classroom]="classroom" [loading]="loading"
        [projects]="projects">
      </app-projects-list>
    </nz-card>
  </div>

</div>


<ng-template #notFoundTemplate>
  <nz-result nzStatus="404" nzTitle="404" nzSubTitle="Sorry, the classroom you visited does not exist.">
    <div nz-result-extra>
      <a [routerLink]="'/'">
        <button nz-button nzType="primary">Back Home</button>
      </a>
    </div>
  </nz-result>
</ng-template>


<nz-modal [nzVisible]="showAddNewMemberModal" nzTitle="Add new Member" (nzOnCancel)="showAddNewMemberModal = false"
  [nzFooter]="null">
  <app-users-selector *ngIf="showAddNewMemberModal" [hideUsersWithIds]="getClassroomMembersIds(classroom)"
    (onChange)="onUserSelectorChange($event)"></app-users-selector>
  <button style="margin-top: 10px;" nz-button (click)="addMembersToClassroom(classroom)">Add new members</button>
</nz-modal>
