<div nz-row nzType="flex" nzJustify="space-around">
  <div nz-col>
    <ng-template #indicatorTemplate><i nz-icon nzType="loading" style="font-size: 44px;"></i> </ng-template>
    <nz-spin nzSimple [nzIndicator]="indicatorTemplate" [nzSpinning]="loading">
      <nz-alert *ngIf="loading" [nzType]="'info'" [nzMessage]="'Finishing...'"
        [nzDescription]="'Finishing login processs...'">
      </nz-alert>
    </nz-spin>
  </div>
</div>

<nz-result *ngIf="!loading && !error" nzStatus="success" nzTitle="Successfully Logged In!"></nz-result>
<nz-result *ngIf="!loading && error" nzTitle="Social Authentication Failed" nzStatus="error"
  nzSubTitle="Error logging in">
  <div nz-result-extra>
    <button nz-button nzType="primary">Go to login page</button>
    <button nz-button>Go to main page</button>
  </div>
</nz-result>
