<nz-card>
  <div class="actions" style="margin-bottom: 10px;">
    <button *ngIf="rns.count > 0" nz-button (click)="markAllAsRead()">Mark all as read</button>
  </div>
  <nz-list [nzDataSource]="rns.notificationHistory?.results" [nzRenderItem]="notificationItem"
    [nzItemLayout]="'horizontal'" [nzLoading]="!rns.notificationHistory" [nzPagination]="paginationTemplate">
    <ng-template #notificationItem let-notification>
      <nz-list-item style="margin-top: 10px;" [nzActions]="[removeNotificationActionTemplate]">
        <ng-template #removeNotificationActionTemplate>
          <a *ngIf="credentialsService.currentUser?.id == notification.recipient_id"
            (click)="removeNotification(notification)">Remove</a>
        </ng-template>

        <nz-list-item-meta [nzTitle]="nzTitle" [nzAvatar]="avatarTemplate" [nzDescription]="descriptionTemplate">
          <ng-template #nzTitle>
            <!-- TODO: fix router link -->
            <a *ngIf="notification.redirect_path else noRedirectPathTemplate"
              [routerLink]="['/'].concat(notification.redirect_path.split('/'))">{{notification.title}}</a>
            <ng-template #noRedirectPathTemplate>
              <a>{{notification.title}}</a>
            </ng-template>

          </ng-template>
          <ng-template #descriptionTemplate>
            {{notification.text}} / {{notification.owner_id}} / {{notification.recipient_id}} /
            {{notification.notified}}
          </ng-template>

          <ng-template #avatarTemplate>
            <nz-badge [nzStatus]="notification.notified ? null : 'success'">
              <nz-avatar [nzText]="notification?.title?.charAt(0).toUpperCase()"></nz-avatar>
            </nz-badge>
          </ng-template>


        </nz-list-item-meta>
      </nz-list-item>
    </ng-template>

    <ng-template #paginationTemplate>
      <nz-pagination *ngIf="rns.notificationHistory?.pages > 1" [nzPageIndex]="rns.notificationHistory?.page" [nzPageSize]="rns.notificationHistory?.page_size"
        [nzTotal]="rns.notificationHistory?.count" (nzPageIndexChange)="onPageChange($event)">
      </nz-pagination>
    </ng-template>
  </nz-list>
</nz-card>
