<div nz-row nzType="flex" nzJustify="space-between" nzGutter="8">
  <div nz-col [nzOrder]="!tds.Md ? 1 : 0" nzXs="24" nzMd="17" [ngStyle]="{marginTop: !tds.Md ? '10px' : 0}">
    <app-classrooms-list [showCreateNewClassroomButton]="!hideCreateButton" [loading]="loading" [classrooms]="paginatedClassrooms" (onPageIndexChange)="loadDataForPage($event)">
    </app-classrooms-list>
  </div>
  <div nz-col nzXs="24" nzMd="7">
    <nz-card nzTitle="Filters">
      <app-classrooms-filters (onSearchQueryChange)="search($event)"></app-classrooms-filters>
    </nz-card>
  </div>
</div>
