<nz-list class="projects-list" [nzDataSource]="projects?.results" [nzRenderItem]="item" [nzLoading]="loading"
  [nzGrid]="{ gutter: 16, xs: 24, sm: 24, md: 12, lg: 12, xl: 8, xxl: 6 }" [nzPagination]="paginationTemplate">
  <ng-template #item let-item>
    <nz-list-item [nzContent]="nzContent" [class.full-height]="item.is_new_project_button_holder">
      <ng-template #nzContent>
        <app-projects-list-item *ngIf="!item.is_new_project_button_holder else createNewProjectTemplate"
          [project]="item"></app-projects-list-item>
      </ng-template>
      <ng-template #createNewProjectTemplate>
        <a style="height: 100%;" [routerLink]="['/', 'projects', 'create']" [state]="{ classroom: classroom }">
          <nz-card style="height:100%;" class="create-new-project-card" [nzBodyStyle]="{height: '100%'}">
            <div nz-row nzType="flex" nzJustify="center" nzAlign="middle" style="height: 100%;">
              <div nz-col>
                <i nz-icon nzType="plus" nzTheme="outline"></i>
                <p>Create new project</p>
              </div>
            </div>
          </nz-card>
        </a>
      </ng-template>

    </nz-list-item>
  </ng-template>
  <ng-template #paginationTemplate>
    <nz-pagination *ngIf="projects?.pages > 1" [nzPageIndex]="projects?.page" [nzPageSize]="projects?.page_size" [nzTotal]="projects?.count"
      (nzPageIndexChange)="onPageChange($event)">
    </nz-pagination>
  </ng-template>
</nz-list>
