@import '~src/styles/variables';

:host ::ng-deep .ant-pagination {
  padding: 10px;
}

:host .projects-list ::ng-deep .ant-spin-nested-loading > .ant-spin-container > .ant-row {
  display: flex;
  flex-wrap: wrap;
}

.full-height {
  height: 96%;
}

.create-new-project-card {
  // TODO
  height: calc(336px / 2);
  text-align: center;
  i {
    font-size: 50px;
  }
  p {
    font-size: large;
  }
  &:hover {
    box-shadow: $box-shadow;
  }
}
