<nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
  <input type="text" [(ngModel)]="searchValue" nz-input placeholder="Search project.." (keyup.enter)="emitNewSearch()" />
</nz-input-group>
<ng-template #suffixIconButton>
  <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
</ng-template>
<nz-divider></nz-divider>
<app-tags-expanded-selector></app-tags-expanded-selector>
