<a class="classrooms-list-item" [routerLink]="['/', 'classrooms', 'details', classroom.id]">
  <nz-card [nzCover]="coverTemplate">
    <nz-card-meta [nzTitle]="titleTemplate" [nzDescription]="descriptionTemplate"></nz-card-meta>
  </nz-card>
</a>

<ng-template #titleTemplate>
  {{classroom.title | slice:0:15}}{{classroom.title.length > 15 ? '..' : ''}}
</ng-template>


<ng-template #descriptionTemplate>
  <p><b>Description:</b> {{classroom.description | slice:0:30}}...</p>
  <p *ngIf="credentialsService.currentUser">
    <b>Your role:</b> {{getCurrentUserRole(credentialsService.currentUser)}}
  </p>
  <p><b>Owner:</b> {{classroom.owner.first_name}} {{classroom.owner.last_name}}</p>
</ng-template>

<ng-template #avatarTemplate>
</ng-template>

<ng-template #coverTemplate>
  <img class="classroom-image" alt="Classroom image"
    [src]="classroom.images[0]?.src || '/assets/images/blocktinu-classroom.jpg'" />
</ng-template>
