@import "~src/styles/variables";

.classrooms-list-item {
  nz-card:hover {
    box-shadow: $box-shadow;
  }
}

:host ::ng-deep .ant-card-meta-title {
  display: flex;
  justify-content: space-between;
}

:host ::ng-deep .ant-card-cover {
  height: 150px;
}

.classroom-image {
  display: block;
  width: auto;
  max-height: 100%;
  max-width: 100%;
  margin: auto;
}

:host p {
  margin: 0;
}
