<!-- See https://github.com/google/blockly/issues/3049 -->
<tinusaur-ngx-blockly *ngIf="!readonly else readonlyTemplate" [config]="config" [generatorConfig]="generatorConfig"
  (tinusaurCode)="onTinusaurCode($event)" (xmlCode)="onTinusaurXml($event)" [inputXmlCode]="inputXmlCode">
</tinusaur-ngx-blockly>
<ng-template #readonlyTemplate>
  <tinusaur-ngx-blockly [config]="config" [generatorConfig]="generatorConfig"
    (tinusaurCode)="onTinusaurCode($event)" (xmlCode)="onTinusaurXml($event)" [inputXmlCode]="inputXmlCode">
  </tinusaur-ngx-blockly>
</ng-template>
