@import "~src/styles/variables";

$contrast-color: $red-color;

.carousel-container {
  position: relative;
  .zoom-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    color: $contrast-color;
    border-color: $contrast-color;
    opacity: 0.4;
    background: transparent;
    &:hover {
      opacity: 1;
    }
  }
  ::ng-deep .slick-list {
    height: 360px !important;
  }

  [nz-carousel-content] {
    text-align: center;
    height: 360px;
    background: rgba(0, 0, 0, 0.1);
    color: #fff;
    .image {
      height: 100%;
      // TODO: use review whether to use background-image or img tag
      // background-size: contain;
      // background-repeat: no-repeat;
      // background-position: center;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
  .carousel-images-list {
    padding: 16px;
    .image-list-item {
      cursor: pointer;
      margin-bottom: 3px;
      opacity: 0.4;
      &.active,
      &:hover {
        opacity: 1;
      }
    }
  }

  &.zoomView {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;

    background: rgba(0, 0, 0, 0.7);
    padding: 5%;
    // padding-top: 20%;

    nz-carousel {
      height: 90%;
    }

    ::ng-deep .slick-list {
      height: 90% !important;
    }
    [nz-carousel-content] {
      height: 90vh;
      background: transparent;
    }
    .close-btn {
      z-index: 11;
      position: fixed;
      top: 3vh;
      right: 3vh;
      width: 5vh;
      height: 5vh;
      font-size: large;
    }
  }
}

.arrows {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 360px;
  .arrow {
    width: 10%;
    height: 100%;
    display: flex;
    cursor: pointer;
    // background: rgba(0, 0, 0, 0.1);
    &:hover {
      > i {
        opacity: 1;
      }
    }
    > i {
      color: #fff;
      opacity: 0.3;
      font-size: 30px;
      margin: auto;
    }
  }
}
