<nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
  <input type="text" [(ngModel)]="searchValue" nz-input placeholder="Search classroom.." (keyup.enter)="emitNewSearch()" />
</nz-input-group>
<ng-template #suffixIconButton>
  <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
</ng-template>
