<nz-spin [nzSpinning]="authService.loading">
	<nz-row class="social-links" nzGutter="8">
		<nz-col>
			<button (click)="onGoogleButtonClick()" nz-button nzType="primary"
				style="background-color:#4285f4; color: white; border: 1px solid #4285f4"><i nz-icon
					nzType="google"></i>Google</button>
		</nz-col>
		<nz-col>
			<button (click)="onFacebookButtonClick()" nz-button nzType="primary"
				style="color: white; background-color:#4267B2;border: 1px solid #4267B2;"><i nz-icon
					nzType="facebook"></i>Facebook</button>
		</nz-col>
	</nz-row>
</nz-spin>
