<nz-row nzType="flex" nzJustify="space-around" nzAlign="middle">
	<nz-col class="register-container" nzSpan="12">
		<nz-spin [nzSpinning]="loading">
			<nz-row class="register-header" nzType="flex" nzJustify="center">
				<nz-col>
					<h1>Create Account</h1>
					<p>Or
						<a [routerLink]="['/auth/login']"> Login</a>
					</p>
				</nz-col>
			</nz-row>
			<form *ngIf="!authService.credentialsService.isLoggedIn" nz-form [formGroup]="validateForm" class="register-form"
				(ngSubmit)="submitForm()">
				<nz-form-item>
					<nz-form-control nzHasFeedback>
						<nz-input-group [nzPrefix]="prefixUser">
							<input nz-input formControlName="first_name" placeholder="First Name" type="text" autocomplete="first-name"/>
						</nz-input-group>
						<nz-form-explain *ngIf="validateForm.get('first_name')?.dirty && validateForm.get('first_name')?.errors">
							<ng-container *ngIf="validateForm.get('first_name')?.hasError('minlength')">
								First name is too short
							</ng-container>
							<ng-container *ngIf="validateForm.get('first_name')?.hasError('maxlength')">
								First name is too long
							</ng-container>
							<ng-container *ngIf="validateForm.get('first_name')?.hasError('required')">
								Please input your first name
							</ng-container>
						</nz-form-explain>
					</nz-form-control>
				</nz-form-item>
				<nz-form-item>
					<nz-form-control nzHasFeedback>
						<nz-input-group [nzPrefix]="prefixUser">
							<input nz-input formControlName="last_name" placeholder="Last Name" type="text" autocomplete="last-name"/>
						</nz-input-group>
						<nz-form-explain *ngIf="validateForm.get('last_name')?.dirty && validateForm.get('last_name')?.errors">
							<ng-container *ngIf="validateForm.get('last_name')?.hasError('minlength')">
								Last name is too short
							</ng-container>
							<ng-container *ngIf="validateForm.get('last_name')?.hasError('maxlength')">
								Last name is too long
							</ng-container>
							<ng-container *ngIf="validateForm.get('last_name')?.hasError('required')">
								Please input your last name
							</ng-container>
						</nz-form-explain>
					</nz-form-control>
				</nz-form-item>
				<nz-form-item>
					<nz-form-control nzHasFeedback>
						<nz-input-group [nzPrefix]="prefixEmail">
							<input nz-input formControlName="email" placeholder="Email" type="email" autocomplete="email" />
						</nz-input-group>
						<nz-form-explain *ngIf="validateForm.get('email')?.dirty && validateForm.get('email')?.errors">
							<ng-container *ngIf="validateForm.get('email')?.hasError('customerror')">
								{{validateForm.get('email').getError('customerror')}}
							</ng-container>
							<ng-container *ngIf="validateForm.get('email')?.hasError('email')">
								The input is not valid E-mail!
							</ng-container>
							<ng-container *ngIf="validateForm.get('email')?.hasError('required')">
								Please input your E-mail!
							</ng-container>
						</nz-form-explain>
					</nz-form-control>
				</nz-form-item>
				<nz-form-item>
					<nz-form-control nzHasFeedback>
						<nz-input-group [nzPrefix]="prefixLock">
							<input nz-input type="password" id="password" formControlName="password" placeholder="Password"
								(ngModelChange)="updateConfirmValidator()" autocomplete="new-password"/>
						</nz-input-group>
						<nz-form-explain *ngIf="validateForm.get('password')?.dirty && validateForm.get('password')?.errors">
							<ng-container *ngIf="validateForm.get('password')?.hasError('minlength')">
								Use at least 8 characters for password
							</ng-container>
							<ng-container *ngIf="validateForm.get('password')?.hasError('required')">
								Please input your password!
							</ng-container>
						</nz-form-explain>
					</nz-form-control>
				</nz-form-item>
				<nz-form-item>
					<nz-form-control nzHasFeedback>
						<nz-input-group [nzPrefix]="prefixRedo">
							<input nz-input type="password" formControlName="checkPassword" id="checkPassword"
								placeholder="Confirm Password" autocomplete="new-password"/>
						</nz-input-group>
						<nz-form-explain
							*ngIf="validateForm.get('checkPassword')?.dirty && validateForm.get('checkPassword')?.errors">
							<ng-container *ngIf="validateForm.get('checkPassword')?.hasError('required')">
								Please confirm your password!
							</ng-container>
							<ng-container *ngIf="validateForm.get('checkPassword')?.hasError('confirm')">
								Two passwords that you enter is inconsistent!
							</ng-container>
						</nz-form-explain>
					</nz-form-control>
				</nz-form-item>
				<nz-form-item>
					<nz-form-control>
						<button nz-button class="register-form-button" [nzType]="'primary'" [disabled]="validateForm.invalid">Create
							Account</button>
					</nz-form-control>
				</nz-form-item>
				<nz-form-item class="register-form-social-section">
					<p>or continue with</p>
					<app-social-auth-buttons></app-social-auth-buttons>
				</nz-form-item>
			</form>
			<ng-template #prefixUser><i nz-icon nzType="user"></i></ng-template>
			<ng-template #prefixEmail><i nz-icon nzType="mail"></i></ng-template>
			<ng-template #prefixLock><i nz-icon nzType="lock"></i></ng-template>
			<ng-template #prefixRedo><i nz-icon nzType="redo"></i></ng-template>
		</nz-spin>
	</nz-col>
</nz-row>
