<nz-row nzType="flex" nzJustify="space-around" nzAlign="middle">
  <nz-col class="login-container" nzSpan="12">

    <nz-spin [nzSpinning]="loading || authService.loading">
      <nz-row class="login-header" nzType="flex" nzJustify="center">
        <nz-col>
          <h1>Login</h1>
          <p>Or <a [routerLink]="['/auth/register']"> Create Account</a></p>
        </nz-col>
      </nz-row>
      <form *ngIf="!authService.credentialsService.isLoggedIn" nz-form [formGroup]="validateForm" class="login-form"
        (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-control nzHasFeedback>
            <nz-input-group [nzPrefix]="prefixEmail">
              <input nz-input formControlName="email" placeholder="Email" type="email" autocomplete="email" />
            </nz-input-group>
            <nz-form-explain *ngIf="validateForm.get('email')?.dirty && validateForm.get('email')?.errors">
              <ng-container *ngIf="validateForm.get('email')?.hasError('email')">
                The input is not valid E-mail!
              </ng-container>
              <ng-container *ngIf="validateForm.get('email')?.hasError('required')">
                Please input your E-mail!
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item [ngStyle]="{marginBottom: 0}">
          <nz-form-control nzHasFeedback>
            <nz-input-group [nzPrefix]="prefixLock">
              <input type="password" autocomplete="true" nz-input formControlName="password" placeholder="Password" />
            </nz-input-group>
            <nz-form-explain *ngIf="validateForm.get('password')?.dirty && validateForm.get('password')?.errors">
              <ng-container *ngIf="validateForm.get('password')?.hasError('minlength')">
                Use at least 5 characters for password
              </ng-container>
              <ng-container *ngIf="validateForm.get('password')?.hasError('required')">
                Please input your password!
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <ng-container *ngIf="validateForm.get('other')?.hasError('invalid_grant')">
          <span class="error-text">
            {{ validateForm.get('other').getError('invalid_grant') }}
          </span>
        </ng-container>
        <nz-form-item>
          <nz-form-control>
            <a (click)="forgotPasswordModal = true;" class="login-form-forgot" class="login-form-forgot">Forgot
              password</a>
            <button nz-button class="login-form-button" [nzType]="'primary'" [disabled]="validateForm.invalid">Log
              in</button>
          </nz-form-control>
        </nz-form-item>

      </form>
      <p>or login using</p>
      <app-social-auth-buttons></app-social-auth-buttons>

      <ng-template #prefixEmail><i nz-icon nzType="mail"></i></ng-template>
      <ng-template #prefixLock><i nz-icon nzType="lock"></i></ng-template>
    </nz-spin>
  </nz-col>
</nz-row>

<nz-modal [nzVisible]="forgotPasswordModal" (nzOnCancel)="forgotPasswordModal = false;" nzTitle="Restore password"
  [nzFooter]="null">
  <form *ngIf="!resetPasswordRequestSent else passwordResetEmailSentTemplate" nz-form [formGroup]="resetPasswordForm"
    class="login-form" (ngSubmit)="submitResetPasswordForm()">
    <nz-form-item>
      <nz-form-control [nzErrorTip]="'Please input a valid E-mail!'">
        <nz-input-group [nzPrefix]="prefixEmail">
          <input nz-input formControlName="email" placeholder="Email" type="email" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button [nzLoading]="loading" class="reset-password-button" [nzType]="'primary'"
          [disabled]="resetPasswordForm.invalid">Reset
          password</button>
      </nz-form-control>
    </nz-form-item>
  </form>
  <ng-template #passwordResetEmailSentTemplate>
    <nz-result nzIcon="mail-twotone" [nzTitle]="'Great, check your inbox for a password reset email.'">
    </nz-result>
  </ng-template>

</nz-modal>
