<div nz-row nzType="flex" nzJustify="center" style="margin-top: 10px;">
  <div nz-col [nzXs]="23" [nzXl]="12">
    <nz-card nzTitle="Create new project">
      <form class="project-form" nz-form [formGroup]="projectForm" (ngSubmit)="submitForm(projectForm.value)">
        <!-- Title -->
        <nz-form-item>
          <nz-form-label [nzSpan]="24" nzRequired>Title</nz-form-label>
          <nz-form-control [nzSpan]="24" nzHasFeedback [nzErrorTip]="titleErrorTemplate">
            <input nz-input formControlName="title" placeholder="Project title" />
            <ng-template #titleErrorTemplate let-control>
              <ng-container *ngIf="control.hasError('required')">
                Please provide a title for project!
              </ng-container>
              <ng-container *ngIf="control.hasError('minlength')">
                The title is too short!
              </ng-container>
              <ng-container *ngIf="control.hasError('maxlength')">
                The title is too long!
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <!-- Description -->
        <nz-form-item>
          <nz-form-label [nzSpan]="24" nzRequired>Description</nz-form-label>
          <nz-form-control [nzSpan]="24" nzHasFeedback [nzErrorTip]="descriptionErrorTemplate">
            <textarea formControlName="description" nz-input rows="2" placeholder="Project description"></textarea>
            <ng-template #descriptionErrorTemplate let-control>
              <ng-container *ngIf="control.hasError('required')">
                Please descibe your project!
              </ng-container>
              <ng-container *ngIf="control.hasError('minlength')">
                The description is too short!
              </ng-container>
              <ng-container *ngIf="control.hasError('maxlength')">
                The description is too long!
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <!-- Type -->
        <nz-form-item>
          <nz-form-label>Type</nz-form-label>
          <nz-form-control [nzSpan]="24" nzHasFeedback nzErrorTip="Select a project type">
            <nz-select formControlName="type">
              <nz-option nzValue="block" nzLabel="Block"></nz-option>
              <nz-option nzValue="code" nzLabel="Code"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <!-- Shield -->
        <nz-form-item>
          <nz-form-label>Shield</nz-form-label>
          <nz-form-control [nzSpan]="24" nzHasFeedback nzErrorTip="Select a project shield">
            <nz-select formControlName="shield">
              <nz-option *ngFor="let shield of shields" [nzValue]="shield" [nzLabel]="shield"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <!-- Tags -->
        <nz-form-item>
          <nz-form-label [nzSpan]="24" nzFor="tags" nzRequired>Tags</nz-form-label>
          <nz-form-control [nzXs]="24" nzHasFeedback [nzErrorTip]="tagsErrorTemplate">
            <app-tags-selector formControlName="tags"></app-tags-selector>
            <ng-template #tagsErrorTemplate let-control>
              <ng-container *ngIf="control.hasError('required')">
                Please select tags for your project!
              </ng-container>
              <ng-container *ngIf="control.hasError('minlength')">
                Select more tags!
              </ng-container>
              <ng-container *ngIf="control.hasError('maxlength')">
                Too many tags!
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>

        <!-- Classroom -->
        <nz-form-item *ngIf="credentialsService.currentUser?.classrooms_count > 0">
          <nz-form-label [nzSpan]="24" nzFor="classroom">Class</nz-form-label>
          <nz-form-control [nzXs]="24" nzHasFeedback nzErrorTip="Select a proper class">
            <app-classroom-selector formControlName="classroom"></app-classroom-selector>
          </nz-form-control>
        </nz-form-item>

        <!-- Image -->
        <nz-form-item>
          <nz-form-label nzFor="images">Image</nz-form-label>
          <nz-form-control [nzSm]="24" [nzXs]="24" nzHasFeedback="false" [nzErrorTip]="imageErrorTemplate">
            <app-images-selector formControlName="images" [maxItemsLength]="maxImagesLength"></app-images-selector>
            <ng-template #imageErrorTemplate let-control>
              <ng-container *ngIf="control.hasError('required')">
                Please an image for new project
              </ng-container>
              <ng-container *ngIf="control.hasError('minlength')">
                Add more images
              </ng-container>
              <ng-container *ngIf="control.hasError('maxlength')">
                Too many images
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>

        <!-- Is Private -->
        <nz-form-item>
          <nz-form-control>
            <label nz-checkbox nzDisabled formControlName="is_private">
              <span>Create a private project</span>
            </label>
          </nz-form-control>
        </nz-form-item>
        <!-- Submit -->
        <nz-form-item>
          <nz-form-control [nzSpan]="24">
            <button nz-button [nzLoading]="loading" [disabled]="loading"
              nzType="primary">{{loading ? 'Creating...' + percent + '%' : 'Create'}}</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-card>
  </div>
</div>
