<nz-select
  style="width: 100%;"
  nzMode="multiple"
  nzPlaceHolder="Select users"
  nzAllowClear
  nzShowSearch
  (nzOnSearch)="onSearch($event)"
  (nzScrollToBottom)="loadMoreUsers()"
  [(ngModel)]="selectedUsers"
  [nzMaxMultipleCount]="maxUsersCount"
  [nzTokenSeparators]="[',']"
  nzServerSearch
  >
  <ng-container *ngFor="let user of users?.results; trackBy: trackById">
    <nz-option *ngIf="user?.url && !(hideUsersWithIds.includes(user.id)) && !isSelected(user.id)" [nzValue]="user" [nzLabel]="user.first_name + ' ' + user.last_name"></nz-option>
  </ng-container>

  <nz-option *ngIf="loading" nzDisabled nzCustomContent>
    <i nz-icon nzType="loading" class="loading-icon"></i> <span i18n="@@loadingText">Loading Data...</span>
  </nz-option>
</nz-select>
