<div nz-row nzType="flex" nzJustify="center" style="margin-top: 10px;">
  <div nz-col [nzXs]="23" [nzXl]="12">
    <nz-card nzTitle="Create new classroom">
      <form class="classroom-form" nz-form [formGroup]="classroomForm" (ngSubmit)="submitForm(classroomForm.value)">
        <!-- Title -->
        <nz-form-item>
          <nz-form-label [nzSpan]="24" nzRequired>Title</nz-form-label>
          <nz-form-control [nzSpan]="24" nzHasFeedback [nzErrorTip]="titleErrorTemplate">
            <input nz-input formControlName="title" placeholder="Classroom title" />
            <ng-template #titleErrorTemplate let-control>
              <ng-container *ngIf="control.hasError('required')">
                Please provide a title for classroom!
              </ng-container>
              <ng-container *ngIf="control.hasError('minlength')">
                The title is too short!
              </ng-container>
              <ng-container *ngIf="control.hasError('maxlength')">
                The title is too long!
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <!-- Description -->
        <nz-form-item>
          <nz-form-label [nzSpan]="24" nzRequired>Description</nz-form-label>
          <nz-form-control [nzSpan]="24" nzHasFeedback [nzErrorTip]="descriptionErrorTemplate">
            <textarea formControlName="description" nz-input rows="2" placeholder="Classroom description"></textarea>
            <ng-template #descriptionErrorTemplate let-control>
              <ng-container *ngIf="control.hasError('required')">
                Please descibe your classroom!
              </ng-container>
              <ng-container *ngIf="control.hasError('minlength')">
                The description is too short!
              </ng-container>
              <ng-container *ngIf="control.hasError('maxlength')">
                The description is too long!
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>

        <!-- Members -->
        <nz-form-item>
          <nz-form-label nzFor="members" nzRequired>Members (you are included by default)</nz-form-label>
          <nz-form-control [nzSm]="24" [nzXs]="24" nzHasFeedback="false" [nzErrorTip]="membersErrorTemplate">
            <app-users-selector formControlName="members" [hideUsersWithIds]="[credentialsService.currentUser.id]"></app-users-selector>
            <ng-template #membersErrorTemplate let-control>
              <ng-container *ngIf="control.hasError('required')">
                Please add members
              </ng-container>
              <ng-container *ngIf="control.hasError('minlength')">
                Add more members
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>

        <!-- Images -->
        <nz-form-item>
          <nz-form-label nzFor="images" nzRequired>Images</nz-form-label>
          <nz-form-control [nzSm]="24" [nzXs]="24" nzHasFeedback="false" [nzErrorTip]="imageErrorTemplate">
            <app-images-selector formControlName="images" [maxItemsLength]="maxImagesLength"></app-images-selector>
            <ng-template #imageErrorTemplate let-control>
              <ng-container *ngIf="control.hasError('required')">
                Please add an image for new classroom
              </ng-container>
              <ng-container *ngIf="control.hasError('minlength')">
                Add more images
              </ng-container>
              <ng-container *ngIf="control.hasError('maxlength')">
                Too many images
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>

        <!-- Submit -->
        <nz-form-item>
          <nz-form-control [nzSpan]="24">
            <button nz-button [nzLoading]="loading"
              nzType="primary">{{loading ? 'Creating...' + percent + '%' : 'Create'}}</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-card>
  </div>
</div>
