@import "~src/styles/variables";
/*
Blockly
*/

.blocklyFlyoutBackground {
  fill: #006b59;
  /*#00B294;*/
  fill-opacity: 0.8;
  /* filter: url('#blurSVGfilter'); */
}

.blocklyContextMenu, .blocklyWidgetDiv .goog-menu {
  overflow-y: hidden;
  padding-right: 5px;
}

#blocklyArea {
  height: 99%;
}

#blocklyDiv {
  height: 100%;
}

.blocklyFlyout {
  transition: transform 0.3s;
}
.blocklyToolboxDiv {
  background: #66888c;
  /* rgb(81, 102, 107); */
  /* rgb(255, 165, 76); */
  /* rgba(33,164,139, .2); */
  // min-width: $blockly-sidebar-width;
  width: $blockly-sidebar-width;
  transition: width 0.3s;
}

.folded {
  .blocklyToolboxDiv {
    width: $blockly-sidebar-width-folded;
  }
  .blocklyFlyout {
    transform: translate(62px, 0px) !important;
  }
}

.blocklySvg {
  background-color: #fff !important;
}

.blocklyTreeRow {
  height: 50px;
  line-height: 50px;
  border-left: none !important;
  color: white;
}

.blocklyTreeRow:hover {
  cursor: pointer;
  color: white;
}

.blocklyTreeRow:not(.blocklyTreeSelected):hover {
  background-color: initial;
}

.blocklyTreeSelected > .blocklyTreeIconOpen,
.blocklyTreeSelected > .blocklyTreeIconClosedLtr,
.blocklyTreeIconNone,
.blocklyTreeSelected > .blocklyTreeIconNone {
  background-position: 0;
}

span[role="presentation"] {
  display: none;
}

.blocklyTreeIcon {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  background-position: 0;
  background-size: contain;
  background-repeat: no-repeat;
  // background-image: url(../images/icons/example.png);
  // background-image: url("assets/icons/example.png");
}

.blocklyTreeLabel {
  /* color: white; */
  font-weight: bold;
  cursor: pointer;
}

.blocklyTreeSeparator {
  border: none;
}
