
$blue-color: #347584;
$green-color: #5D9F82;
$yellow-color: #f5cd79;
$red-color: #e77f67;;

$heading-color: $blue-color;

$sidebar-background-color: #66888C;

$blockly-sidebar-width-folded: 62px;
$blockly-sidebar-width: 220px;

$border-color-base : #ebedf0;

// $box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
$box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08)
