<div nz-row nzType="flex" nzJustify="space-between" nzGutter="8">
  <div nz-col [nzOrder]="!tds.Md ? 1 : 0" nzXs="24" nzMd="17" [ngStyle]="{marginTop: !tds.Md ? '10px' : 0}">
    <app-projects-list [loading]="loading" [projects]="paginatedProjects" (onPageIndexChange)="loadDataForPage($event)">
    </app-projects-list>
  </div>
  <div nz-col nzXs="24" nzMd="7">
    <nz-card nzTitle="Filters">
      <app-projects-filters (onSearchQueryChange)="search($event)"></app-projects-filters>
    </nz-card>
  </div>
</div>
