@import "~src/styles/variables";
@import "~src/styles/animations";

:host {
  height: 100%;
}

::ng-deep {
  .ant-checkbox-group-item {
    display: block;
  }
}

.toggle-code-editor-button {
  position: absolute;
  right: 10px;
  top: 45%;
  z-index: 1;
  font-size: 60px;
  font-weight: bolder;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  opacity: 0.3;
  padding: 10px;
  border-radius: 50%;
  &:hover {
    opacity: 1;
  }
}

[nz-radio] {
  display: block;
}

.shield-radio-group {
  width: 100%;
  .shield-radio-option {
    padding: 30px 0;
    width: 100%;
    font-size: 20px;
    img {
      float: right;
      max-height: 60px;
    }
  }
}

.terminal {
  position: absolute;
  height: 30%;
  width: 100%;
  bottom: 0;
  border-top: 1px solid $border-color-base;
}

.projects-row {
  position: relative;
  background: white;
  height: calc(100vh - 64px);
  align-items: stretch;
  align-content: stretch;
}

.menu {
  position: absolute;
  right: 12px;
  top: 0;
  padding: 5px;
  height: 40px;
  button {
    animation: fade-in-right 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    margin-left: 10px;
  }
  .attention {
    animation: heartbeat 1.5s ease-in-out infinite forwards;
  }
}

.other-section {
  button {
    margin-right: 10px;
  }
}
