<div *ngIf="projectDetailService.project else notFoundTemplate" class="projects-row" nz-row nzType="flex"
  nzJustify="center" nzAlign="middle">
  <div class="col" nz-col nz-resizable (nzResize)="onResize($event)" [nzMinColumn]="10" [nzMaxColumn]="23"
    [nzGridColumnCount]="24" [nzSpan]="col" *ngIf="projectDetailService.project?.type === 'block'">
    <nz-resize-handles [nzDirections]="['right']"></nz-resize-handles>
    <i (click)="toggleCodeEditor()" class="toggle-code-editor-button" nz-icon
      [nzType]="col === 24 ? 'left' : 'right'"></i>
    <app-blockly-editor #blocklyEditor [readonly]="projectDetailService.readonly"
      [inputXmlCode]="projectDetailService.readonly ? projectDetailService.xml : projectDetailService.project.code"
      [shield]="projectDetailService.project?.shield" (onC11)="onBlocklyC11Code($event)" (onXml)="onBlocklyXml($event)">
    </app-blockly-editor>
  </div>
  <div nz-col [nzSpan]="projectDetailService.project?.type === 'code' ? 24 : 24 - col">
    <app-code-editor #codeEditor
      [readonly]="projectDetailService.readonly || projectDetailService.project?.type === 'block'"
      [code]="projectDetailService.c11" [title]="projectDetailService.project?.title"
      (onCode)="onCodeEditorChanges($event)">
    </app-code-editor>
    <div class="terminal">
      <app-terminal (onCommand)="handleCommand($event)"></app-terminal>
    </div>
  </div>

  <!-- menu -->
  <div class="menu" (mouseenter)="unfoldMenu()" (mouseleave)="foldMenu()">
    <!-- Settings -->
    <button *ngIf="!tds.isMobile || expandedMenu" nz-button nz-tooltip nzTooltipPlacement="bottom"
      nzTooltipTitle="Settings" nzShape="circle" (click)="showSettingsModal = true;"><i nz-icon nzType="setting"></i>
    </button>

    <!-- Flash -->
    <button *ngIf="!tds.isMobile || expandedMenu" nz-button nz-tooltip nzTooltipPlacement="bottom"
      nzTooltipTitle="Flash" nzShape="circle" disabled><i nz-icon nzType="thunderbolt" nzTheme="outline"></i>
    </button>

    <!-- Format code -->
    <button *ngIf="col != 24 && (!tds.isMobile || expandedMenu)" nz-button nz-tooltip nzTooltipPlacement="bottom"
      nzTooltipTitle="Format code" nzShape="circle" class="red" (click)="codeEditor?.formatCode()"><i nz-icon
        nzType="align-left" nzTheme="outline"></i>
    </button>

    <!-- Download -->
    <button *ngIf="!tds.isMobile || expandedMenu" nz-button nz-tooltip nzTooltipPlacement="bottom"
      nzTooltipTitle="Download" class="yellow" [nzLoading]="projectDetailService.downloading"
      (click)="handleCommand('download')" nzShape="circle"><i nz-icon nzType="download"></i>
    </button>

    <!-- Save (only if not readonly) -->
    <nz-badge *ngIf="!projectDetailService.readonly && (!tds.isMobile || expandedMenu)"
      [class.attention]="showUnsavedAttensionAnimation && projectDetailService.unsaved"
      [nzDot]="projectDetailService.unsaved">
      <button nz-button nz-tooltip nzTooltipPlacement="bottom" nzTooltipTitle="Save" class="green"
        [nzLoading]="projectDetailService.saving" (click)="handleCommand('save')" nzShape="circle"><i nz-icon
          nzType="save"></i></button>
    </nz-badge>

    <!-- Check / compile -->
    <button nz-button nz-tooltip nzTooltipPlacement="bottom" nzTooltipTitle="Check" nzType="primary" class="blue"
      [nzLoading]="projectDetailService.building" (click)="handleCommand('compile')" nzSize="large" nzShape="circle"><i
        nz-icon nzType="check"></i></button>
  </div>


  <nz-drawer [nzVisible]="showSettingsModal" [nzWidth]="'40%'" [nzClosable]="true"
    (nzOnClose)="showSettingsModal = false" [nzTitle]="projectDetailService.project?.title">
    <nz-descriptions [nzColumn]="2" nzTitle="Project details">
      <nz-descriptions-item nzTitle="Title" [nzSpan]="1">
        <p style="margin-bottom: 0;" nz-paragraph [nzEditable]="!projectDetailService.readonly"
          [nzContent]="projectDetailService.project?.title"
          (nzContentChange)="projectDetailService.changeProjectTitle($event)"></p>
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Type" [nzSpan]="1">{{projectDetailService.project?.type | titlecase}}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Access type" [nzSpan]="1">
        {{projectDetailService.project?.is_private ? 'Private' : 'Public'}}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Status" [nzSpan]="1">
        {{projectDetailService.project?.finished ? 'Finished' : 'In progress'}}
        <button *ngIf="!projectDetailService.readonly" nz-button
          (click)="projectDetailService.changeProjectStatus(!projectDetailService.project?.finished)"
          nzSize="small">Mark as
          {{projectDetailService.project?.finished ? 'In progress' : 'Finished'}}</button>
      </nz-descriptions-item>
      <!-- TODO: -->
      <nz-descriptions-item nzTitle="Owner" [nzSpan]="1">
        <a *ngIf="owner else onlyIdTemplate"
          [routerLink]="['/', 'users', owner.id]">{{ owner.first_name + ' ' + owner.last_name}}</a>
        <ng-template #onlyIdTemplate>
          <a *ngIf="projectDetailService?.project?.owner_id"
            [routerLink]="['/', 'users', projectDetailService.project.owner_id]">Noname</a>
        </ng-template>
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Classroom" [nzSpan]="1">
        <a *ngIf="projectDetailService.project?.classroom_id else noClassroomTemplate"
          [routerLink]="['/', 'classrooms', 'details', projectDetailService.project?.classroom_id]">
          Open classroom page
        </a>
        <ng-template #noClassroomTemplate>No classroom</ng-template>
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Description" [nzSpan]="2">
        <p style="margin-bottom: 0;" nz-paragraph [nzEditable]="!projectDetailService.readonly"
          [nzContent]="projectDetailService.project?.description"
          (nzContentChange)="projectDetailService.changeProjectDescription($event)"></p>
      </nz-descriptions-item>
    </nz-descriptions>

    <!-- Shield -->
    <nz-divider nzText="Shield"></nz-divider>
    <nz-select style="width: 100%;" nzShowSearch nzAllowClear [nzAllowClear]="false" nzPlaceHolder="Select a shield"
      [ngModel]="projectDetailService.project?.shield"
      (ngModelChange)="projectDetailService.changeProjectShield($event)" [nzDisabled]="projectDetailService.readonly">
      <nz-option *ngFor="let shield of shields" [nzValue]="shield.key" [nzLabel]="shield.value"></nz-option>
    </nz-select>

    <!-- Libraries -->
    <nz-divider nzText="Project libraries"></nz-divider>
    <nz-checkbox-group [ngModel]="libraries" (ngModelChange)="onLibrariesChange($event)"
      [nzDisabled]="projectDetailService.readonly || true">
    </nz-checkbox-group>
    <button *ngIf="unsavedLibraries" style="display: block;margin-top: 5px;" (click)="saveLibraries()" nz-button
      disabled>Save Libraries Changes</button>

    <!-- Editor settings -->
    <nz-divider nzText="Editor Settings"></nz-divider>
    <p>
      Autosave (every 10 seconds)
      <nz-switch style="float: right;" [ngModel]="projectDetailService.project.autosave"
        (ngModelChange)="projectDetailService.changeProjectAutosave($event)"></nz-switch>
    </p>
    <p>
      Unsaved changes attention animation
      <nz-switch style="float: right;" [(ngModel)]="showUnsavedAttensionAnimation"></nz-switch>
    </p>
    <div class="other-section" *ngIf="!projectDetailService.readonly">
      <nz-divider nzText="Other"></nz-divider>
      <button *ngIf="credentialsService.currentUser && projectDetailService.project.is_demo" nz-button
        (click)="projectDetailService.migrateCurrentDemoProject()" nzType="success"
        [nzLoading]="projectDetailService.migrating">Migrate project</button>

      <button *ngIf="credentialsService.currentUser" nz-button
        (click)="projectDetailService.showCopyProjectModal = true;">Copy project</button>

      <button *ngIf="!projectDetailService.project.is_demo" nz-button nz-popconfirm nzPopconfirmTitle="Are you sure?"
        nzOkText="Delete" nzCancelText="Cancel" (nzOnConfirm)="projectDetailService.deleteProject()"
        nzType="danger">Delete project</button>
    </div>
  </nz-drawer>
</div>

<ng-template #notFoundTemplate>
  <nz-result nzStatus="404" nzTitle="404" nzSubTitle="Sorry, the project you visited does not exist.">
    <div nz-result-extra>
      <a [routerLink]="'/'">
        <button nz-button nzType="primary">Back Home</button>
      </a>
    </div>
  </nz-result>
</ng-template>

<nz-modal *ngIf="credentialsService.currentUser" nzTitle="Copy project"
  [nzVisible]="projectDetailService.showCopyProjectModal"
  (nzOnCancel)="projectDetailService.showCopyProjectModal = false;" [nzFooter]="null">
  <nz-form-label>Provide a new title for copy project:</nz-form-label>
  <input nz-input type="text" autocomplete="off" placeholder="New title" minlength="5" maxlength="100"
    [ngModel]="projectDetailService?.project?.title + ' (Copy)'" #titleInput>
  <button nz-button (click)="projectDetailService.copyCurrentProject(titleInput.value)" nzType="success"
    style="margin-top: 10px;" nzType="primary" [nzLoading]="projectDetailService.copying">Copy project</button>
</nz-modal>

<nz-modal nzTitle="Change project shield" [nzVisible]="showShieldsModal" (nzOnCancel)="openShieldsModal(false)"
  [nzFooter]="shieldsModalTemplate" [nzWidth]="'400px'">
  <ng-template #shieldsModalTemplate>
    <button nz-button nzType="primary" (click)="openShieldsModal(false)">Ok</button>
  </ng-template>

  <!-- Shield -->
  <nz-radio-group class="shield-radio-group" [ngModel]="projectDetailService.project?.shield"
    (ngModelChange)="projectDetailService.changeProjectShield($event)">
    <label nz-radio *ngFor="let shield of shields" [nzValue]="shield.key" class="shield-radio-option">
      {{shield.value}} <img [src]="'assets/images/tinusaur/shields/' + shield.key + '.png'">
    </label>
  </nz-radio-group>
</nz-modal>
