<nz-layout class="app-layout">
  <nz-layout>
    <nz-header>
      <div nz-row nzType="flex" nzJustify="space-between" class="app-header">
        <div>
          <a class="logo" [routerLink]="['/']">
            <img src="assets/images/blocktinu_logo.png" alt="logo">
            <h1>Blocktinu</h1>
          </a>

          <a [routerLink]="authService.credentialsService.isLoggedIn ? '/projects' : '/projects/demo'">
            <button nz-button nzType="default" class="header-button vertical-btn">
              <i nz-icon nzType="appstore"></i>Projects
            </button>
          </a>
          <ng-container *ngIf="showGlobalButtons">
            <button nz-button nzType="default"
              class="header-button vertical-btn">
              <i nz-icon nzType="snippets"></i>Libraries
            </button>
            <button nz-button nzType="default"
              class="header-button vertical-btn">
              <i nz-icon nzType="container"></i>Boards
            </button>
            <button (click)="globalButtonsService.emitOnShieldsButtonPressed()" nz-button nzType="default"
              class="header-button vertical-btn">
              <i nz-icon nzType="sliders"></i>Shields
            </button>
            <button (click)="globalButtonsService.emitOnBuildButtonPressed()" nz-button nzType="default"
              class="header-button vertical-btn">
              <i nz-icon nzType="rocket"></i>Build
            </button>
          </ng-container>

        </div>
        <div *ngIf="authService.credentialsService.isLoggedIn else guestMenuTemplate">

          <a href="http://blocktinu.com/" target="_blank">
            <button nz-button nzType="default" class="header-button vertical-btn">
              <i nz-icon nzType="read"></i>Help
            </button>
          </a>
          <nz-badge [nzCount]="rns.count">
            <button [nzLoading]="authService.loading" nz-button nzType="default" nz-dropdown [nzDropdownMenu]="menu"
              [nzOverlayStyle]="{'margin-top': '10px', 'min-width': '140px'}" class="header-button vertical-btn">
              <i nz-icon nzType="user"></i>
              {{authService.credentialsService?.currentUser?.first_name}}
            </button>
          </nz-badge>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu *ngIf="authService?.credentialsService?.currentUser">
              <li nz-menu-item>
                <a [routerLink]="['/', 'users', authService.credentialsService.currentUser.id]">My Profile</a>
              </li>
              <li nz-menu-item
                *ngIf="authService?.credentialsService?.currentUser?.classrooms_count || authService.credentialsService?.currentUser?.role != 3">
                <a [routerLink]="['/', 'users', authService.credentialsService.currentUser.id, 'classrooms']">My
                  Classrooms</a>
              </li>
              <li nz-menu-item>
                <a [routerLink]="['/', 'users', authService.credentialsService.currentUser.id, 'notifications']">Notifications
                  <span *ngIf="rns.count > 0">({{rns.count}})</span></a>
              </li>
              <li nz-menu-item>
                <a (click)="logout()">Logout</a>
              </li>
            </ul>
          </nz-dropdown-menu>
        </div>
        <ng-template #guestMenuTemplate>
          <div>

            <a href="http://blocktinu.com/" target="_blank">
              <button nz-button nzType="default" class="header-button vertical-btn">
                <i nz-icon nzType="read"></i>Help
              </button>
            </a>
            <button nz-button nzType="default" nz-dropdown [nzDropdownMenu]="menu"
              [nzOverlayStyle]="{'margin-top': '10px', 'min-width': '140px'}" class="header-button vertical-btn">
              <i nz-icon nzType="user"></i>Guest
            </button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item>
                  <a [routerLink]="['/', 'auth', 'login']">Sign in</a>
                </li>
                <li nz-menu-item>
                  <a [routerLink]="['/', 'auth', 'register']">Register</a>
                </li>
              </ul>
            </nz-dropdown-menu>
          </div>
        </ng-template>

      </div>
    </nz-header>
    <nz-content class="inner-content">
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>

<nz-modal [nzVisible]="!cookiesService.isAgreed" nzTitle="Cookies Policy" nzOkText="Agree" (nzOnOk)="cookiesAgree()"
  [nzClosable]="false" [nzCancelDisabled]="true">
  <img src="assets/images/cookie.svg" style="display:block;width: 30%;margin: 10px; margin-left: 0;" />
  <span class="text-center">This website uses cookies to ensure you get the best experience on our website, </span><a
    href="https://automattic.com/cookies" target="_blank">Learn more</a>.
</nz-modal>
