<nz-list class="classrooms-list" [nzDataSource]="classrooms?.results || []" [nzRenderItem]="item" [nzLoading]="loading"
  [nzGrid]="{ gutter: 16, xs: 24, sm: 12, md: 8, lg: 8, xl: 6, xxl: 6 }" [nzPagination]="paginationTemplate">
  <ng-template #item let-item>
    <nz-list-item [nzContent]="nzContent" [class.full-height]="item.is_new_classroom_button_holder">
      <ng-template #nzContent>
        <app-classrooms-list-item *ngIf="!item.is_new_classroom_button_holder else createNewClassroomTemplate"
          [classroom]="item"></app-classrooms-list-item>
      </ng-template>
      <ng-template #createNewClassroomTemplate>
        <a style="height: 100%;" [routerLink]="['/', 'classrooms', 'create']">
          <nz-card style="height:100%;" class="create-new-classroom-card" [nzBodyStyle]="{height: '100%'}">
            <div nz-row nzType="flex" nzJustify="center" nzAlign="middle" style="height: 100%;">
              <div nz-col>
                <i nz-icon nzType="plus" nzTheme="outline"></i>
                <p>Create new classroom</p>
              </div>
            </div>
          </nz-card>
        </a>
      </ng-template>

    </nz-list-item>
  </ng-template>
  <ng-template #paginationTemplate>
    <nz-pagination *ngIf="classrooms?.pages > 1" [nzPageIndex]="classrooms?.page" [nzPageSize]="classrooms?.page_size" [nzTotal]="classrooms?.count"
      (nzPageIndexChange)="onPageChange($event)">
    </nz-pagination>
  </ng-template>
</nz-list>
