<div class="tag-expanded-selector">
  <div class="tags">
    <div class="selected-tags">
      <nz-tag class="cursor" [nzColor]="tag.color" *ngFor="let tag of selectedTags; trackBy:trackIdentifyByItemId"
        (nzCheckedChange)="clickedTag(tag.name)" [nzChecked]="true" nzMode="checkable">
        {{tag.name}}</nz-tag>
      <nz-tag nzColor="geekblue" *ngIf="!selectedTags || selectedTags.length === 0">no selected tags</nz-tag>
    </div>

    <input class="tags-search-input" (input)="searchTags($event.target.value)" nz-input i18n-placeholder="search tags placeholder@@searchTagsText" placeholder="Search tags" />
    <div class="loaded-tags">
			<nz-tag class="cursor" [nzColor]="tag.color" *ngFor="let tag of tags?.results;" (nzCheckedChange)="clickedTag(tag.name)"
				[nzChecked]="selectedTagStrings?.includes(tag.name)" nzMode="checkable">
        {{tag.name}}</nz-tag>
      <nz-tag *ngIf="tags?.next" (click)="loadMoreTags()" nzColor="purple" i18n="@@loadMoreText">Load More</nz-tag>
    </div>
  </div>
</div>

<ng-template #title>
  <h3 style="margin: 0;" class="title" i18n="Filters card title@@filtersCardTitle">Filters</h3>
</ng-template>
<ng-template #extra>
  <!-- <a (click)="openDetailedFilters()">More filters</a> -->
</ng-template>
