@import "~src/styles/variables";

.category-filters {
  > *:not(:first-child) {
    margin-top: 0.7em;
  }

  .categories-list {
    > * {
      display: block;
      margin: 1em 0;
    }
  }
}

.tag-expanded-selector {
  .tags {
    .ant-tag {
      cursor: pointer;
      margin-bottom: 3px;
    }

    .tags-search-input {
      margin: 10px 0;
    }
    .ant-tag-checkable {
      opacity: .7;
      &:hover {
        opacity: 1;
				color: white;
			}
    }
    .ant-tag-checkable-checked {
      opacity: 1;
		}
  }
}
