<div *ngIf="user else notFoundTemplate" nz-row style="padding: 20px;" nzGutter="18">
  <div nz-col nzXs="24" nzXl="4">
    <nz-card [nzTitle]="user?.first_name + ' ' + user?.last_name" style="margin-bottom: 10px;">
      <!-- TODO <app-profile-avatar-uploader [user]="user"></app-profile-avatar-uploader> -->
      <nz-avatar [nzSize]="96" [nzText]="user?.first_name.charAt(0).toUpperCase()"
        style="margin-bottom: 20px; font-size: 60px; color:#f56a00; background-color:#fde3cf;"></nz-avatar>
      <nz-descriptions [nzColumn]="1">
        <nz-descriptions-item nzTitle="First name" [nzSpan]="1">
          <p style="margin-bottom: 0;" nz-paragraph [nzEditable]="!readonly" [nzContent]="user.first_name"
            (nzContentChange)="patchUser({first_name: $event})"></p>
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Last name" [nzSpan]="1">
          <p style="margin-bottom: 0;" nz-paragraph [nzEditable]="!readonly" [nzContent]="user.last_name"
            (nzContentChange)="patchUser({last_name: $event})"></p>
        </nz-descriptions-item>
        <!-- <nz-descriptions-item nzTitle="Profile Status" [nzSpan]="1">
          {{user?.is_active ? 'Active' : 'Suspended'}}
        </nz-descriptions-item> -->
        <nz-descriptions-item *ngIf="credentialsService.currentUser && (credentialsService.currentUser.role != 3 || credentialsService.currentUser.classrooms_count > 0)" nzTitle="Role" [nzSpan]="1">
          <nz-select style="min-width: 90px;" nzAllowClear [nzAllowClear]="false" nzPlaceHolder="Select a role"
            [ngModel]="user.role" (ngModelChange)="patchUser({role: $event})"
            [nzDisabled]="!credentialsService.currentUser || credentialsService.currentUser.role != 1">
            <nz-option nzLabel="Staff" [nzValue]="1"></nz-option>
            <nz-option nzLabel="Teacher" [nzValue]="2"></nz-option>
            <nz-option nzLabel="Student" [nzValue]="3"></nz-option>
          </nz-select>
        </nz-descriptions-item>
      </nz-descriptions>

    </nz-card>
  </div>

  <div nz-col nzXs="24" nzXl="20">
    <nz-card [nzBodyStyle]="{padding: 0}">
      <nz-tabset [nzSelectedIndex]="selectedTabsIndex">
        <nz-tab (nzClick)="changeTab('projects')" nzTitle="Projects"></nz-tab>
        <nz-tab
          *ngIf="user?.classrooms_count > 0 || credentialsService.currentUser?.role != 3"
          (nzClick)="changeTab('classrooms')" nzTitle="Classrooms"></nz-tab>
        <nz-tab (nzClick)="changeTab('notifications')" nzTitle="Notifications" [nzDisabled]="readonly"></nz-tab>
      </nz-tabset>
    </nz-card>
    <div style="margin-top: 10px">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>

<ng-template #notFoundTemplate>

  <nz-result nzStatus="404" nzTitle="404" nzSubTitle="Sorry, the user you visited does not exist.">
    <div nz-result-extra>
      <a [routerLink]="'/'">
        <button nz-button nzType="primary">Back Home</button>
      </a>
    </div>
  </nz-result>
</ng-template>
