@import "~src/styles/variables";

$editor-header-height: 7%;

.editor-header {
  height: $editor-header-height;
  background: white;
  padding: 10px;
  border-bottom: 1px solid $border-color-base;
  i {
    font-size: 1.5em;
  }
  h3 {
    margin-bottom: 0;
  }
}

.editor {
  position: absolute;
  height: 63%;
  left: 0;
  top: $editor-header-height;
  bottom: 0;
  right: 0;

  // .ace-editor {
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   left: 0;
  // }
}

:host ::ng-deep {
  .warning {
    position: absolute;
    background: rgba(245, 205, 121, .5);
    z-index: 20;
  }

  .error {
    position: absolute;
    background: rgba(231, 127, 103, .5);
    z-index: 20;
  }
}
