<nz-select
  style="width: 100%;"
  nzPlaceHolder="Select a classroom (you're a member of)"
  nzAllowClear
  nzShowSearch
  (nzOnSearch)="onSearch($event)"
  (nzScrollToBottom)="loadMoreClassrooms()"
  [(ngModel)]="selectedClassroom">
  <ng-container *ngFor="let classroom of classrooms?.results; trackBy: trackById">
    <nz-option *ngIf="classroom?.url && classroom.id != _selectedClassroom?.id" [nzValue]="classroom" [nzLabel]="classroom.title + ' / ' + classroom.owner?.first_name + ' ' + classroom.owner?.last_name + ' / ' + classroom.id"></nz-option>
  </ng-container>
  <nz-option *ngIf="_selectedClassroom?.url" [nzValue]="_selectedClassroom" [nzLabel]="_selectedClassroom.title + ' / ' + _selectedClassroom.owner?.first_name + ' ' + _selectedClassroom.owner?.last_name + ' / ' + _selectedClassroom.id"></nz-option>

  <nz-option *ngIf="loading" nzDisabled nzCustomContent>
    <i nz-icon nzType="loading" class="loading-icon"></i> <span i18n="@@loadingText">Loading Data...</span>
  </nz-option>
</nz-select>
