<ul nz-menu nzMode="horizontal" class="projects-tabs">
  <li nz-menu-item nzMatchRouter>
    <a [routerLink]="['/', 'projects', 'my']">
      My projects
    </a>
  </li>
  <li nz-menu-item nzMatchRouter>
    <a [routerLink]="['/', 'projects', 'explore']">
      Explore
    </a>
  </li>
  <li nz-menu-item nzMatchRouter *ngIf="!credentialsService.isLoggedIn">
    <a [routerLink]="['/', 'projects', 'demo']">
      Demo
    </a>
  </li>
</ul>

<div style="padding: 10px">
  <router-outlet></router-outlet>
</div>
