<ul nz-menu nzMode="horizontal" class="classrooms-tabs">
  <li nz-menu-item nzMatchRouter>
    <a [routerLink]="['/', 'classrooms', 'my']">
      My classrooms
    </a>
  </li>
</ul>

<div style="padding: 10px">
  <router-outlet></router-outlet>
</div>
