<div nz-row nzType="flex" nzJustify="space-between" nzGutter="8">
  <div nz-col [nzOrder]="!tds.Md ? 1 : 0" nzXs="24" nzMd="17" [ngStyle]="{marginTop: !tds.Md ? '10px' : 0}">
    <app-projects-list [showCreateNewProjectButton]="false" [loading]="demoProjects?.results.length < 1" [projects]="demoProjects"></app-projects-list>
  </div>
  <div nz-col nzXs="24" nzMd="7">
    <nz-card nzTitle="Something" style="margin-top: 10px;">

    </nz-card>
  </div>
</div>
