<nz-row nzType="flex" nzJustify="space-around" nzAlign="middle">
  <nz-col class="password-reset-container" nzSpan="12">

    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <h2>Reset password</h2>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your password!">
          <nz-input-group [nzPrefix]="prefixLock">
            <input nz-input type="password" id="password" placeholder="Password" formControlName="password"
              (ngModelChange)="updateConfirmValidator()" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="errorTpl">
          <nz-input-group [nzPrefix]="prefixLock">
            <input nz-input type="password" placeholder="Confirm password" formControlName="checkPassword"
              id="checkPassword" />
          </nz-input-group>
          <ng-template #errorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              Please confirm your password!
            </ng-container>
            <ng-container *ngIf="control.hasError('confirm')">
              Two passwords that you enter is inconsistent!
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nz-row class="register-area">
        <nz-form-control>
          <button style="width: 100%;" [nzLoading]="loading" nz-button nzType="primary">Reset password</button>
        </nz-form-control>
      </nz-form-item>
    </form>

  </nz-col>
</nz-row>
<ng-template #prefixLock><i nz-icon nzType="lock"></i></ng-template>
