/* You can add global styles to this file, and also import other style files */

@import './styles/blockly.scss';


body {
  // TODO
  overflow-x: hidden;
}

.ant-btn.vertical-btn {
  height: 100%;
  padding: 5px;
  > i {
    display: block !important;
    font-size: large;
  }
  > span {
    margin: 0;
    font-size: smaller;
  }
}


.ant-btn {
  &.blue {
    background: $blue-color;
    color: white;
    border-color: $blue-color;
  }
  &.green {
    background: $green-color;
    color: white;
    border-color: $green-color;
  }
  &.yellow {
    background: $yellow-color;
    color: white;
    border-color: $yellow-color;
  }
  &.red {
    background: $red-color;
    color: white;
    border-color: $red-color;
  }
}
