<div nz-row nzType="flex" nzJustify="space-between" nzGutter="8" style="padding: 20px;">
  <div nz-col [nzOrder]="!tds.Md ? 1 : 0" nzXs="24" nzMd="17" [ngStyle]="{marginTop: !tds.Md ? '10px' : 0}">
    <nz-list [nzDataSource]="users?.results" [nzRenderItem]="item" [nzItemLayout]="'horizontal'" [nzLoading]="loading"
      [nzPagination]="paginationTemplate">
      <ng-template #item let-item>
        <nz-list-item style="background: white; margin-bottom: 10px; padding: 10px;">
          <nz-list-item-meta [nzTitle]="nzTitle" nzAvatar="/assets/images/cookie.svg"
            [nzDescription]="descriptionTemplate">
            <ng-template #nzTitle>
              <a [routerLink]="[item.id]">{{ item.first_name }} {{ item.last_name }}</a>
            </ng-template>
            <ng-template #descriptionTemplate>
              <span>Role: {{item?.role ? item.role : 'Not specified'}}</span>
            </ng-template>

          </nz-list-item-meta>
        </nz-list-item>
      </ng-template>
      <ng-template #paginationTemplate>
        <nz-pagination *ngIf="users?.pages > 1" [nzPageIndex]="users?.page" [nzPageSize]="users?.page_size"
          [nzTotal]="users?.count" (nzPageIndexChange)="onPageChange($event)">
        </nz-pagination>
      </ng-template>
    </nz-list>


  </div>
  <div nz-col nzXs="24" nzMd="7">
    <nz-card nzTitle="Filters">
      <app-users-filters (onSearchQueryChange)="search($event)"></app-users-filters>
    </nz-card>
  </div>
</div>
