@import '~src/styles/variables';

.blockly-wrapper {
  width: 100%;
  height: 100%;
}


.blockly, :host ::ng-deep .blocklySvg {
  position: absolute;
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
}

#blockly-toolbox-trigger {
  position: absolute;
  bottom: 0;
  z-index: 100;
  height: 48px;
  width: $blockly-sidebar-width;
  color: #fff;
  line-height: 48px;
  text-align: center;
  background: #347584;
  cursor: pointer;
  transition: width .3s;

  &.folded {
    width: $blockly-sidebar-width-folded;
    > svg {
      transform: rotate(180deg);
    }
  }

}
