<div class="clearfix">
  <nz-upload [class.small]="size == 'small'" nzListType="picture-card" [(nzFileList)]="fileList"
    [nzShowButton]="fileList.length < maxItemsLength" [nzShowUploadList]="showUploadList" [nzPreview]="handlePreview"
    [nzBeforeUpload]="beforeUpload" [nzCustomRequest]="upload" nzMultiple="true" (nzChange)="handleChange($event)"
    #uploadCont>
    <i nz-icon nzType="plus"></i>
    <div class="ant-upload-text" *ngIf="size != 'small'"
      i18n="Add new file to uploader text|Text for add button@@addToUploadText">Add</div>
  </nz-upload>
  <app-carousel *ngIf="previewVisible" (onZoomClose)="previewVisible = false" [imageIndex]="1" [images]="previewImages"
    [zoomOnly]="true"></app-carousel>
</div>
