<nz-card class="projects-list-item" [nzCover]="coverTemplate" [nzActions]="[actionSetting, actionEdit]">
  <nz-card-meta [nzTitle]="titleTemplate" [nzDescription]="descriptionTemplate"></nz-card-meta>
</nz-card>

<ng-template #titleTemplate>
  {{project.title | slice:0:15}}{{project.title.length > 15 ? '..' : ''}}
  <nz-tag class="project-type-info">
    <i nz-icon nzType="lock" *ngIf="project.is_private"></i>
    {{project.shield | titlecase}} / {{project.type | titlecase}}
  </nz-tag>
  <a class="classroom-name" *ngIf="project?.classroom_id"
    [routerLink]="['/', 'classrooms', 'details', project.classroom_id]">
    <nz-tag style="cursor: pointer;" nzColor="geekblue">{{project.classroom_name}}</nz-tag>
  </a>
</ng-template>


<ng-template #descriptionTemplate>
  <p>{{project.description | slice:0:20}}...</p>
  <p>
    <a *ngIf="project?.owner_id" [routerLink]="['/', 'users', project.owner_id]">
      <nz-tag style="cursor: pointer;" nzColor="purple">{{project.owner_name}}</nz-tag>
    </a>
    <nz-tag *ngIf="!project?.owner_id" style="cursor: pointer;" nzColor="purple">{{project.owner_name}}</nz-tag>
  </p>
  <nz-tag *ngFor="let tag of project.tags" [nzColor]="tag.color">{{tag.name}}</nz-tag>
</ng-template>

<ng-template #avatarTemplate>
</ng-template>

<ng-template #coverTemplate>
  <a [target]="'blocktinu_project_' + project.id" [routerLink]="['/', 'projects', 'details', project.id]"
    style="height: 100%;">
    <img class="project-image" alt="Project image"
      [src]="project.images[0]?.src || '/assets/images/blocktinu-project-blocks.jpg'" />
  </a>
</ng-template>

<ng-template #actionSetting>
  <a [target]="'blocktinu_project_' + project.id" [routerLink]="['/', 'projects', 'details', project.id]"><i nz-icon
      nzType="code"></i> Open</a>
</ng-template>

<ng-template #actionEdit>
  <a><i nz-icon nzType="loading-3-quarters"></i> {{project.finished ? 'Finished' : 'In progress'}}</a>
</ng-template>
