@import "~src/styles/variables";

.projects-list-item {
  &:hover {
    box-shadow: $box-shadow;
  }
}

:host ::ng-deep .ant-card-cover {
  height: 150px;
}

.project-image {
  display: block;
  width: auto;
  max-height: 100%;
  max-width: 100%;
  margin: auto;
}

.project-type-info {
  position: absolute;
  top: 20px;
  left: 20px;
}
.classroom-name {
  position: absolute;
  top: 45px;
  left: 20px;
}
